<style>
    button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: center;
    top: 50%;
} 
    table {
        width:100%;
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 15px;
        text-align: left;
    }
    table#t01 tr:nth-child(even) {
        background-color: #eee;
    }
    table#t01 tr:nth-child(odd) {
       background-color: #fff;
    }
    table#t01 th {
        background-color: black;
        color: white;
    }
    </style>

    <h1>Student:</h1>
    <h1>Data:</h1>
<table id="t01" *ngIf="profs">
    <tr>
        <th>Mateire</th>
        <th>Nota</th>
   </tr>

   <!-- BIND ARRAY TO TABLE -->
   <tr *ngFor="let prof of profs">
       <td>{{prof.country}}</td>
       <td>{{prof.id}}</td>
   </tr>
  </table>
 <br>
  <button onclick="myFunction()" style="">Log Out</button>