<style>
    button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: center;
    top: 50%;
} 
    table {
        width:100%;
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 15px;
        text-align: left;
    }
    table#t01 tr:nth-child(even) {
        background-color: #eee;
    }
    table#t01 tr:nth-child(odd) {
       background-color: #fff;
    }
    table#t01 th {
        background-color: black;
        color: white;
    }
    </style>

    <h1>Student:</h1>
    <h1>Data:</h1>
<table id="t01">
    <tr>
      <th>Materie</th>
      <th>Nota</th> 
    </tr>
    <tr>
      <td>Java</td>
      <td>8</td>
    </tr>
    <tr>
      <td>Baze de date</td>
      <td>6</td>
    </tr>
    <tr>
      <td>Securitate</td>
      <td>10</td>
    </tr>
  </table>
 <br>
  <button onclick="myFunction()" style="">Log Out</button>